In [4]:
import pandas as pd

df = pd.read_csv("Messy_Employee_dataset.csv")

In [5]:
print(df.shape)         
print(df.dtypes)        
print(df.isna().sum())

(1020, 12)
Employee_ID           object
First_Name            object
Last_Name             object
Age                  float64
Department_Region     object
Status                object
Join_Date             object
Salary               float64
Email                 object
Phone                  int64
Performance_Score     object
Remote_Work             bool
dtype: object
Employee_ID            0
First_Name             0
Last_Name              0
Age                  211
Department_Region      0
Status                 0
Join_Date              0
Salary                24
Email                  0
Phone                  0
Performance_Score      0
Remote_Work            0
dtype: int64

In [6]:
df.head(20)

,Employee_ID,First_Name,Last_Name,Age,Department_Region,Status,Join_Date,Salary,Email,Phone,Performance_Score,Remote_Work
0,EMP1000,Bob,Davis,25.0,DevOps-California,Active,4/2/2021,59767.65,bob.davis@example.com,-1651623197,Average,True
1,EMP1001,Bob,Brown,NaN,Finance-Texas,Active,7/10/2020,65304.66,bob.brown@example.com,-1898471390,Excellent,True
2,EMP1002,Alice,Jones,NaN,Admin-Nevada,Pending,12/7/2023,88145.90,alice.jones@example.com,-5596363211,Good,True
3,EMP1003,Eva,Davis,25.0,Admin-Nevada,Inactive,11/27/2021,69450.99,eva.davis@example.com,-3476490784,Good,True
4,EMP1004,Frank,Williams,25.0,Cloud Tech-Florida,Active,1/5/2022,109324.61,frank.williams@example.com,-1586734256,Poor,False
5,EMP1005,Alice,Garcia,40.0,Sales-Texas,Inactive,6/10/2020,88642.84,alice.garcia@example.com,-5409003485,Good,False
6,EMP1006,Frank,Jones,NaN,Admin-Nevada,Active,4/3/2020,96288.43,frank.jones@example.com,-4518376063,Good,False
7,EMP1007,Bob,Jones,30.0,Cloud Tech-Florida,Inactive,7/17/2022,94497.91,bob.jones@example.com,-4134327559,Average,True
8,EMP1008,Frank,Davis,35.0,Admin-Nevada,Inactive,12/8/2023,115565.82,frank.davis@example.com,-4177656123,Excellent,True
9,EMP1009,Charlie,Johnson,NaN,DevOps-New York,Active,8/4/2022,76561.88,charlie.johnson@example.com,-8156985699,Excellent,True
10,EMP1010,David,Williams,35.0,Cloud Tech-New York,Active,7/6/2024,72081.71,david.williams@example.com,-2720634590,Average,False
11,EMP1011,David,Davis,NaN,DevOps-California,Active,9/4/2023,84946.19,david.davis@example.com,-1238296576,Poor,True
12,EMP1012,Heidi,Williams,30.0,HR-New York,Active,3/5/2024,89295.77,heidi.williams@example.com,-2429543164,Excellent,False
13,EMP1013,Grace,Williams,NaN,Finance-California,Active,10/10/2020,85666.84,grace.williams@example.com,-2669300892,Good,False
14,EMP1014,Alice,Garcia,25.0,Admin-Nevada,Active,6/10/2024,97633.68,alice.garcia@example.com,-1734206968,Excellent,True
15,EMP1015,Grace,Jones,40.0,Sales-Florida,Pending,5/29/2021,117975.49,grace.jones@example.com,-4215291085,Good,True
16,EMP1016,Alice,Brown,25.0,DevOps-Illinois,Inactive,4/23/2024,94867.33,alice.brown@example.com,-7713334475,Poor,False
17,EMP1017,Grace,Garcia,30.0,Finance-Texas,Pending,11/28/2024,100377.65,grace.garcia@example.com,-2639343625,Average,True
18,EMP1018,Charlie,Garcia,NaN,Cloud Tech-Nevada,Inactive,9/19/2024,94726.46,charlie.garcia@example.com,-2044397358,Excellent,False
19,EMP1019,Charlie,Williams,35.0,Admin-Illinois,Pending,1/2/2020,91926.12,charlie.williams@example.com,-7107256365,Average,True

In [7]:
df['Age'] = df['Age'].fillna(df['Age'].median()).astype(int)

In [8]:
df['Salary'] = df['Salary'].fillna(df['Salary'].median())

In [9]:
df['Join_Date'] = pd.to_datetime(df['Join_Date'], errors='coerce')

In [10]:
df['Remote_Work'] = df['Remote_Work'].map({True: 'Yes', False: 'No'})

In [11]:
df.isnull().sum()

Employee_ID          0
First_Name           0
Last_Name            0
Age                  0
Department_Region    0
Status               0
Join_Date            0
Salary               0
Email                0
Phone                0
Performance_Score    0
Remote_Work          0
dtype: int64

In [12]:
df = df.drop_duplicates()

In [13]:
df.head(20)

,Employee_ID,First_Name,Last_Name,Age,Department_Region,Status,Join_Date,Salary,Email,Phone,Performance_Score,Remote_Work
0,EMP1000,Bob,Davis,25,DevOps-California,Active,2021-04-02,59767.65,bob.davis@example.com,-1651623197,Average,Yes
1,EMP1001,Bob,Brown,30,Finance-Texas,Active,2020-07-10,65304.66,bob.brown@example.com,-1898471390,Excellent,Yes
2,EMP1002,Alice,Jones,30,Admin-Nevada,Pending,2023-12-07,88145.90,alice.jones@example.com,-5596363211,Good,Yes
3,EMP1003,Eva,Davis,25,Admin-Nevada,Inactive,2021-11-27,69450.99,eva.davis@example.com,-3476490784,Good,Yes
4,EMP1004,Frank,Williams,25,Cloud Tech-Florida,Active,2022-01-05,109324.61,frank.williams@example.com,-1586734256,Poor,No
5,EMP1005,Alice,Garcia,40,Sales-Texas,Inactive,2020-06-10,88642.84,alice.garcia@example.com,-5409003485,Good,No
6,EMP1006,Frank,Jones,30,Admin-Nevada,Active,2020-04-03,96288.43,frank.jones@example.com,-4518376063,Good,No
7,EMP1007,Bob,Jones,30,Cloud Tech-Florida,Inactive,2022-07-17,94497.91,bob.jones@example.com,-4134327559,Average,Yes
8,EMP1008,Frank,Davis,35,Admin-Nevada,Inactive,2023-12-08,115565.82,frank.davis@example.com,-4177656123,Excellent,Yes
9,EMP1009,Charlie,Johnson,30,DevOps-New York,Active,2022-08-04,76561.88,charlie.johnson@example.com,-8156985699,Excellent,Yes
10,EMP1010,David,Williams,35,Cloud Tech-New York,Active,2024-07-06,72081.71,david.williams@example.com,-2720634590,Average,No
11,EMP1011,David,Davis,30,DevOps-California,Active,2023-09-04,84946.19,david.davis@example.com,-1238296576,Poor,Yes
12,EMP1012,Heidi,Williams,30,HR-New York,Active,2024-03-05,89295.77,heidi.williams@example.com,-2429543164,Excellent,No
13,EMP1013,Grace,Williams,30,Finance-California,Active,2020-10-10,85666.84,grace.williams@example.com,-2669300892,Good,No
14,EMP1014,Alice,Garcia,25,Admin-Nevada,Active,2024-06-10,97633.68,alice.garcia@example.com,-1734206968,Excellent,Yes
15,EMP1015,Grace,Jones,40,Sales-Florida,Pending,2021-05-29,117975.49,grace.jones@example.com,-4215291085,Good,Yes
16,EMP1016,Alice,Brown,25,DevOps-Illinois,Inactive,2024-04-23,94867.33,alice.brown@example.com,-7713334475,Poor,No
17,EMP1017,Grace,Garcia,30,Finance-Texas,Pending,2024-11-28,100377.65,grace.garcia@example.com,-2639343625,Average,Yes
18,EMP1018,Charlie,Garcia,30,Cloud Tech-Nevada,Inactive,2024-09-19,94726.46,charlie.garcia@example.com,-2044397358,Excellent,No
19,EMP1019,Charlie,Williams,35,Admin-Illinois,Pending,2020-01-02,91926.12,charlie.williams@example.com,-7107256365,Average,Yes

In [14]:
performance_map = {
    'Poor': 1,
    'Average': 2,
    'Good': 3,
    'Very Good': 4,
    'Excellent': 5
}

df['Performance_Score'] = df['Performance_Score'].map(performance_map)

In [15]:
df[['Department', 'Region']] = df['Department_Region'].str.split('-', expand=True)

In [16]:
summary = df[['Age', 'Salary', 'Performance_Score']].describe()

status_counts = df['Status'].value_counts()

print(summary.reset_index())
print(status_counts.reset_index())

   index          Age         Salary  Performance_Score
0  count  1020.000000    1020.000000        1020.000000
1   mean    31.970588   85164.299069           2.838235
2    std     5.136901   19638.385740           1.460070
3    min    25.000000   50047.320000           1.000000
4    25%    30.000000   68811.232500           2.000000
5    50%    30.000000   85547.870000           3.000000
6    75%    35.000000  100372.662500           5.000000
7    max    40.000000  119971.650000           5.000000
     Status  count
0   Pending    356
1    Active    352
2  Inactive    312

In [17]:
dept_analysis = df.groupby('Department').agg({
    'Salary': 'mean',
    'Performance_Score': 'mean',
    'Employee_ID': 'count'
}).rename(columns={'Employee_ID': 'Headcount'})

state_distribution = df['Region'].value_counts()

print(dept_analysis.reset_index())
print(state_distribution.reset_index())

   Department        Salary  Performance_Score  Headcount
0       Admin  85202.644096           2.891566        166
1  Cloud Tech  84944.434658           2.767123        146
2      DevOps  86003.638624           2.783069        189
3     Finance  82279.519353           2.752941        170
4          HR  85475.379474           2.888889        171
5       Sales  86873.948258           2.938202        178
       Region  count
0  California    187
1     Florida    185
2      Nevada    169
3    Illinois    165
4    New York    161
5       Texas    153

In [18]:
remote_analysis = df.groupby('Remote_Work')['Performance_Score'].mean()

print(remote_analysis.reset_index())

  Remote_Work  Performance_Score
0          No           2.830375
1         Yes           2.846004

In [19]:
remote_performance = df.groupby('Remote_Work')['Performance_Score'].mean()
remote_salary = df.groupby('Remote_Work')['Salary'].mean().reset_index()

print(remote_performance.reset_index())
print(remote_salary.reset_index())

  Remote_Work  Performance_Score
0          No           2.830375
1         Yes           2.846004
   index Remote_Work        Salary
0      0          No  85835.187219
1      1         Yes  84501.257563

In [20]:
df = df[[
    "Employee_ID", "First_Name", "Last_Name", "Age", "Department", "Region",
    "Status", "Join_Date", "Salary", "Email", "Phone", "Performance_Score",
    "Remote_Work", "Department_Region"
]]

In [21]:
df.drop("Department_Region", axis=1, inplace=True)

In [26]:
df['Phone'] = df['Phone'].abs()

In [30]:
df['Domain'] = df['Email'].str.extract(r'@(.+)', expand=False)

In [38]:
df = df[[
    "Employee_ID", "First_Name", "Last_Name", "Age", "Department", "Region",
    "Status", "Join_Date", "Salary", "Email", "Domain", "Phone", "Performance_Score",
    "Remote_Work"
]]

In [40]:
df.head(20)

,Employee_ID,First_Name,Last_Name,Age,Department,Region,Status,Join_Date,Salary,Email,Domain,Phone,Performance_Score,Remote_Work
0,EMP1000,Bob,Davis,25,DevOps,California,Active,2021-04-02,59767.65,bob.davis@example.com,example.com,1651623197,2,Yes
1,EMP1001,Bob,Brown,30,Finance,Texas,Active,2020-07-10,65304.66,bob.brown@example.com,example.com,1898471390,5,Yes
2,EMP1002,Alice,Jones,30,Admin,Nevada,Pending,2023-12-07,88145.90,alice.jones@example.com,example.com,5596363211,3,Yes
3,EMP1003,Eva,Davis,25,Admin,Nevada,Inactive,2021-11-27,69450.99,eva.davis@example.com,example.com,3476490784,3,Yes
4,EMP1004,Frank,Williams,25,Cloud Tech,Florida,Active,2022-01-05,109324.61,frank.williams@example.com,example.com,1586734256,1,No
5,EMP1005,Alice,Garcia,40,Sales,Texas,Inactive,2020-06-10,88642.84,alice.garcia@example.com,example.com,5409003485,3,No
6,EMP1006,Frank,Jones,30,Admin,Nevada,Active,2020-04-03,96288.43,frank.jones@example.com,example.com,4518376063,3,No
7,EMP1007,Bob,Jones,30,Cloud Tech,Florida,Inactive,2022-07-17,94497.91,bob.jones@example.com,example.com,4134327559,2,Yes
8,EMP1008,Frank,Davis,35,Admin,Nevada,Inactive,2023-12-08,115565.82,frank.davis@example.com,example.com,4177656123,5,Yes
9,EMP1009,Charlie,Johnson,30,DevOps,New York,Active,2022-08-04,76561.88,charlie.johnson@example.com,example.com,8156985699,5,Yes
10,EMP1010,David,Williams,35,Cloud Tech,New York,Active,2024-07-06,72081.71,david.williams@example.com,example.com,2720634590,2,No
11,EMP1011,David,Davis,30,DevOps,California,Active,2023-09-04,84946.19,david.davis@example.com,example.com,1238296576,1,Yes
12,EMP1012,Heidi,Williams,30,HR,New York,Active,2024-03-05,89295.77,heidi.williams@example.com,example.com,2429543164,5,No
13,EMP1013,Grace,Williams,30,Finance,California,Active,2020-10-10,85666.84,grace.williams@example.com,example.com,2669300892,3,No
14,EMP1014,Alice,Garcia,25,Admin,Nevada,Active,2024-06-10,97633.68,alice.garcia@example.com,example.com,1734206968,5,Yes
15,EMP1015,Grace,Jones,40,Sales,Florida,Pending,2021-05-29,117975.49,grace.jones@example.com,example.com,4215291085,3,Yes
16,EMP1016,Alice,Brown,25,DevOps,Illinois,Inactive,2024-04-23,94867.33,alice.brown@example.com,example.com,7713334475,1,No
17,EMP1017,Grace,Garcia,30,Finance,Texas,Pending,2024-11-28,100377.65,grace.garcia@example.com,example.com,2639343625,2,Yes
18,EMP1018,Charlie,Garcia,30,Cloud Tech,Nevada,Inactive,2024-09-19,94726.46,charlie.garcia@example.com,example.com,2044397358,5,No
19,EMP1019,Charlie,Williams,35,Admin,Illinois,Pending,2020-01-02,91926.12,charlie.williams@example.com,example.com,7107256365,2,Yes

In [ ]:
# df.to_csv("Clean_Employee_Dataset.csv", index=False)